{% extends './incFiles/basic.html' %}
{% block title %}Update Employee{% endblock title %}
{% block body %}
{% load static %}
<div class="mt-3 container d-flex flex-column align-items-center justify-content-center">
    <p class="h2 font-weight-bold text-success">Update Employee</p>
    <form class="mt-4" method="post" action="">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="">First Name</label>
                    <input type="text" class="form-control" required name="fname" value="{{employee.0.first_Name}}">
                </div>
                <div class="form-group">
                    <label for="">Last Name</label>
                    <input type="text" class="form-control" required name="lname" value="{{employee.0.last_Name}}">
                </div>
                <div class="form-group">
                    <label for="">Salary</label>
                    <input type="number" class="form-control" required name="salary" value="{{employee.0.salary}}">
                </div>
                <div class="form-group">
                    <label for="">Contact Number</label>
                    <input type="tel" class="form-control" required name="contact" value="{{employee.0.contact}}">
                </div>
                <div class="form-group">
                    <label for="">Email</label>
                    <input type="email" class="form-control" required name="email" value="{{employee.0.email}}">
                </div>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="gander" value="male" required>
                        <label class="form-check-label" for="">Male</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="gander" value="female" required>
                        <label class="form-check-label" for="">Female</label>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="">Address</label>
                    <input type="text" class="form-control" required name="address" value="{{employee.0.address}}">
                </div>
                <div class="form-group">
                    <label for="">City</label>
                    <input type="text" class="form-control" required name="city" value="{{employee.0.city}}">
                </div>
                <div class="form-group">
                    <label for="">Pincode</label>
                    <input type="number" class="form-control" required name="pincode" value="{{employee.0.pincode}}">
                </div>
                <div class="form-group">
                    <label for="">State</label>
                    <input type="text" class="form-control" required name="state" value="{{employee.0.state}}">
                </div>
                <div class="form-group">
                    <label for="">Country</label>
                    <input type="text" class="form-control" required name="country" value="{{employee.0.country}}">
                </div>

            </div>
        </div>
        <button type="submit" class="btn btn-block btn-success">Submit</button>
    </form>
</div>
{% endblock body %}